<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row mt20">
      <div class="col-md-6 offset-md-3">

        <br><br>

        <mat-card style="border-radius: 20px">
          <mat-card-content class="text-center" >

            <h1 class="text-center">Sign In</h1>

            <div class="container text-center">
              <img src="assets/images/login.png" height="180">
            </div>

            <br><br>

            <form [formGroup]="loginFormGroup" method="post">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Username</mat-label>
                <input
                  required
                  name="username"
                  matInput
                  placeholder="Enter here"
                  formControlName="username"
                >
                <mat-hint>Valid Username</mat-hint>
              </mat-form-field>

              <br><br>

              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Password</mat-label>
                <input
                  required
                  name="password"
                  type="password"
                  matInput
                  placeholder="Enter here"
                  formControlName="password"
                >
              </mat-form-field>

              <div class="container text-center">
                <button mat-raised-button color="primary" (click)="onLogin()" type="submit">Sign In</button>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
