<div class="container-fluid">
  <div class="box">
    <div class="box-content backwhite">

      <ng-container class="example-card" *ngIf="pagePublications$ | async as listPublications; else failureOrLoading">

        <ng-container *ngIf="listPublications.content.length > 0; else noPublications">
          <mat-card class="example-card" *ngFor="let publication of listPublications.content">
            <mat-card-header>
              <mat-card-title>{{publication.title}}</mat-card-title>
              <mat-card-subtitle>{{publication.category.categoryTitle}}</mat-card-subtitle>
            </mat-card-header>

            <mat-card-actions class="button-container">
              <button mat-stroked-button color="accent" (click)="getResultsRouterLink(publication)" class="ml20">
                Results
              </button>
              <button mat-raised-button color="warn" (click)="handlePublicationDelete(publication)" class="ml20">
                <mat-icon>delete_sweep</mat-icon>
                Remove
              </button>
            </mat-card-actions>
          </mat-card>
        </ng-container>

        <ng-template #noPublications>
          <div class="text-center mt-3">
            <p>No publications found.</p>
          </div>
        </ng-template>

      </ng-container>

      <ng-template #failureOrLoading>
        <ng-container *ngIf="errorMessage; else loading">
          <div class="text-danger">
            {{errorMessage}}
          </div>
        </ng-container>
        <ng-template #loading>
          <div class="loading-overlay">
            <div class="loader shadow-sm text-muted">
              <span style="font-size: 24px; font-weight: bold;">
                <i class="fa-solid fa-rotate fa-spin"></i>
              </span>
              &nbsp;
              <span class="processing">Processing...</span>
            </div>
          </div>
        </ng-template>
      </ng-template>
    </div>
  </div>
</div>
