<div class="container-fluid">
  <div class="box">
    <div class="box-content backwhite">
      <h1 class="text-center">Questions</h1>
      <div class="bootstrap-wrapper">
        <div class="row">
          <div class="col-md-12">

              <div *ngFor="let qu of question; let i = index" class="mt20">
                <mat-card>
                  <mat-card-content>
                    <p>
                      <strong>Question {{i+1}}: </strong>
                      <span [innerHTML] = "qu.content"></span>
                    </p>
                    <p *ngFor="let entry of Object.keys(qu.options); let j = index ">
                      <b>Option {{j+1}}: {{entry}}</b>
                    </p>
                  </mat-card-content>
                </mat-card>
                <br><br>
              </div>

          </div>
        </div>
        <button mat-fab extended color="primary" routerLink="/sociological-surveys">
          <mat-icon>arrow_back</mat-icon>
          Back
        </button>
        <button *ngIf="isPublisher" mat-fab extended color="accent" class="ml20" routerLink="/view-sociological-survey/{{sociologicalSurveyId}}/add-question">
          <mat-icon>exposure_plus_1</mat-icon>
          Add Question
        </button>
      </div>
    </div>
  </div>
</div>
