/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.text-center{
  text-align: center;
}


.wrapper,
.header {
  display: grid;
  grid-template-columns: 200px auto;
  /*align-items: first;*/
}

.main {
  height: 100vh;
  overflow: auto;
  margin-left: 50px;
}

.mt10{
  margin-top: 10px !important;
}

.mt30{
  margin-top: 30px !important;
}

.ml20{
  margin-left: 20px;
}

.ml50{
  margin-left: 180px;
}

.ml80{
  margin-left: 500px;
}

.ml100{
  margin-left: 600px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-buttons {
  display: flex;
  align-items: center;
}

.right-buttons {
  display: flex;
  align-items: center;
}

.back{
  background: linear-gradient(45deg,#F21A2B,#E787F2);
}

.backwhite{
  background: white;
  padding: 10px; /* Adjust the padding as needed */
  margin: 10px; /* Adjust the margin as needed */
  border-radius: 10px;
}

.border-radius20{
  border-radius: 20px;
}

.green-text {
  color: green;
}

.red-text {
  color: red;
}
.percentage {
  font-weight: bold;
  color: blue; /* Adjust the color as needed */
}

.option-container {
  display: flex;
  justify-content: space-between;
}

/* Add this style to your component's CSS file or in the component's style block */

mat-form-field.w100 {
  width: 100%;
}

mat-form-field.w100 div {
  margin-bottom: 10px; /* Adjust the margin as needed */
}
.input-area {
  border: 2px solid #000000;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
}
